* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: 0 !important;
}

.react-calendar__month-view__weekdays {
  background-color: #c32929;
  color: white;
}
